# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Get your xAI API Key here for chat and image models: https://console.x.ai/
XAI_API_KEY=****

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=**** # Required environment variable

# Cloudflare environment variables
CLOUDFLARE_ACCOUNT_ID=fad03f88124cd8f1979d1564faf4c026
CLOUDFLARE_ZONE_ID=fab6007826c3bd37437bdc5a8f56b3b9
